@using ExaminationSystemMVC.DTOs.AdminDTOs.StudentDTOs
@model UpdateStudentDTO

@{
    ViewData["Title"] = "Edit";
}
@{
    ViewBag.Title = "Edit Student";
}

<div class="container mt-4">
    <h2>Edit Student</h2>

    <form asp-action="Edit" method="post" class="mt-4">
        <input type="hidden" asp-for="StdID" />

        <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input class="form-control" asp-for="@Model.FullName" readonly />
            <input type="hidden" asp-for="@Model.FullName" />
        </div>

        <div class="mb-3">
            <label class="form-label">Email</label>
            <input class="form-control" asp-for="@Model.Email" readonly />
            <input type="hidden" asp-for="@Model.Email" />
        </div>

        <div class="mb-3">
            <label asp-for="IntakeYear" class="form-label"></label>
            <input asp-for="IntakeYear" class="form-control" />
            <span asp-validation-for="IntakeYear" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="IsActive" class="form-label"></label>
            <select asp-for="IsActive" class="form-select">
                <option value="T">Yes</option>
                <option value="F">No</option>
            </select>
            <span asp-validation-for="IsActive" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="BranchID" class="form-label"></label>
            <select asp-for="BranchID" asp-items="ViewBag.Branches" class="form-select"></select>
            <span asp-validation-for="BranchID" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="TrackID" class="form-label"></label>
            <select asp-for="TrackID" asp-items="ViewBag.Tracks" class="form-select"></select>
            <span asp-validation-for="TrackID" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>
    </form>
</div>
