@using ExaminationSystemMVC.DTOs.AdminDTOs.BranchDTOs
@model UpdateBranchDTO
@{
    ViewData["Title"] = "Edit Branch";
}
<div class="container mt-4">
    <h2>Edit Branch</h2>

    <form asp-action="Edit" method="post" class="mt-4">
        <input type="hidden" asp-for="BranchID" />
        <partial name="_BranchForm" />
    </form>
</div>

